extends base

block content 
  - if (tag_name)
    h2.big_tit All articles containing tag:  
      strong #{tag_name}
  - if (articles)
      - each article in articles
        article
          aside 
            p.date= article.formatDate 
            p.tags
              - if (article.tags) {
                - each tag in article.tags
                  - var a_tag = "#" + tag + "&nbsp;";
                  a(href="/tag/#{tag}")= a_tag 
              - }
            p.share twitter,facebook,douban
          .post
            h3
              a(href="/post/#{article._id}")= article.title
            .content!= md(article.body)
  - else
    p There is no blog, please 
