extends base

block content
  article
    aside 
      p.date= formatDate 
      p.tags
        - each tag in tags
          - var a_tag = "#" + tag + "&nbsp;";
          a(href="/tag/#{tag}")= a_tag 
      p.share twitter,facebook,douban
    .post
      h3= tit
      .content!= md(article)
      
  section#comment
    div.list
      - if (comments.length) {
          h3 Comments
        - each comment in comments
          div.comment 
            img(src="http://img3.douban.com/icon/u1794939-2.jpg")
            div
              - if (comment.site) {
                a(href="#{comment.site}")= comment.person
              - } else {
                span= comment.person
              - }
              span.date= comment.formatDate
              p= comment.comment
      - }

    div.new
      h3 Add New Comment
      form(method="post", action="/post/addComment")
        input(type="hidden", name="_id", value=_id)
        p 
          label(for="cmt_name") Name:
          input.txt(type="text", id="cmt_name", name="person")
        p 
          label(for="cmt_site") Site:
          input.txt(type="text", id="cmt_site", name="site")
        p 
          label(for="cmt_email") Email:
          input.txt(type="text", id="cmt_email", name="email")
        p 
          label(for="cmt_comment") Comment:
          textarea(name="comment", id="cmt_comment", rows="5")
        p
          input.bt(type="submit", value="Send")
