extends base

block content
  - var pdate = new Date(time); 
  - var fdate = pdate.getYear() +'-'+ pdate.getMonth() +'-'+ pdate.getDate();
  article
    aside 
      p.date= fdate
      p.tags
        a #css #js #html
      p.share twitter,facebook,douban
    .post
      h3= tit
      .content!= article 
      
  section#comment
    ul
      - each comment in comments
        li
          span= comment.person
          p= comment.comment

    div
      form(method="post", action="/addComment")
        input(type="hidden", name="_id", value=_id)
        p Author:
          input(type="text", name="person")
        p Comment:
          textarea(name="comment", rows="3")
        p
          input.bt(type="submit", value="Send")
