extends ./base

block main
  .row
    .span10
      form.form-horizontal#new-post(method='post', action="/admin/post/editer")
        fieldset
          .control-group
            label.control-label Title：
            .controls
              input(name='title', type="text", value="#{post_tit}")
          .control-group
            label.control-label Content：
            .controls
              textarea(name='body')= post_body
          .control-group
            label.control-label Tags：
            .controls
              input(name='tags', type="text", value="#{post_tags}") 
            //.controls.lab_list
                a.label.label-success Info
          input(name="action", type="hidden", value="#{post_action}")
          input(name="id", type="hidden", value="#{post_id}")
          .form-actions
            button.btn.btn-primary#post-publist Publist 
            &nbsp;
            button.btn#post-preview Preview 
            &nbsp;
            button.btn#post-save Draft 
    .span2
      form(id='upload_form', method='post', action='/admin/fileupload', enctype='multipart/form-data')
        input#newfile(type="file", name="thumbnail")

      #file_list
